/*fonts*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/Raleway-Italic.woff') format('woff'),
        url('../fonts/Raleway-Italic.ttf') format('truetype'),
        url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway-Black.ttf') format('truetype'),
        url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype'),
        url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


/*animation*/

a, a:hover, button, button:hover, .anime {
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
	cursor: pointer;	
}

/*header*/

body {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #908F8F;
}

h1, h2, h3,h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

.center-content {
	text-align: center;
}

a:hover, a:focus {
	color: #00C7E8;
	text-decoration: none;
	outline: 0;
}

.top-block {
	background-color: #313332;
	padding: 10px 0;
}

.logo {
	color:#fff;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.logo:hover, .logo:focus {
	color: #fff;
}

nav a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	padding: 12px;
	display: inline-block;
}

nav li.active a {
	color:#00C7E8;
}

/*slider*/

.carousel-inner p {
	background-color: rgba(30,29,29, 0.6);
	padding: 20px;
	animation: anime-P 1.6s ease-out;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 2.857em;
}

.item img {
	width: 100%;
}

.carousel-caption {
    right: 0%;
    left: 60%;
    padding-bottom: 30px;
    bottom: 30%;
    text-align: left;
}

.carousel-indicators li {
    background-color: #807F7D;
    border: none;
    margin-right: 5px;
	margin-left: 5px;
	width: 15px;
	height: 15px;
}

.carousel-indicators .active {
	margin-right: 5px;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	border: none;
}

@keyframes anime-H3 {
	from {
 		opacity: 0;
 		transform: translateX(-2000px);	
 	}
	to {
 		opacity: 1;
 		transform: translateX(0);
	}
}
@keyframes anime-P {
	from {
 		opacity: 0;
 		transform: translateX(2000px);	 }
	to {
 		opacity: 1;
 		transform: translateX(0);
	}
}

/*icon-boxes*/

.icons-wrap {
	margin-top: 60px;
}

.icon-1 {
	background-image: url(../img/research.svg);
}
.icon-2 {
	background-image: url(../img/computer.svg);
}
.icon-3 {
	background-image: url(../img/process.svg);
}

.icon {
	background-color: #323332;
	width: 150px;
	height: 150px;
	border-radius: 20%;
	display: block;
	margin: auto;
}

.icon-text {
	margin-top: 40px;
	padding: 0px 10px
}

.icon-text h3 {
	text-transform: uppercase;
	color: #323332;
	margin-bottom: 20px;
}

.icon-box {
	margin-bottom: 60px;
}

.icon-box:hover .icon {
	background-color: #00C7E8;
	border: 1px #00C7E8 solid;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.icon-box:hover h3 {
	color: #00C7E8;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

/*gallery*/

.gallery {
	margin-top: 60px;
	width: 100%;
}

.gallery-title {
	text-align: center;
	text-transform: uppercase;
	color: #000;
	margin-bottom: 20px;
}

.gallery-text {
	text-align: center;
	width: 100%;
	max-width: 650px;
	margin: 0 auto 30px;
	padding: 0 15px;
}

.gallery-line {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}


.gallery-item {
	display: inline-block;
	margin: 0;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	width: 20%;
	height: 300px;
	background-position: center;
}

.width-item {
	width: 40%;
	height: 300px;
}

.gallery-item .active, .active-icon, .link, .magnifier {
	opacity: 0;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.gallery-item:hover .active{
	background-color: #54535399;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
}

.gallery-item:hover .link {
	opacity: 1;
	cursor: pointer;
	background-image: url(../img/link.svg);
}

.gallery-item:hover .magnifier {
	opacity: 1;
	cursor: pointer;
	background-image: url(../img/magnifier.svg);
}

.gallery-item:hover .active-icon {
	opacity: 1;
	background-color: #fff;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin: 0 7px;
}

/*team*/

.team-item-foto {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 80px;
}

.team-item-foto .active {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 16px;
	opacity: 0;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.team-item-foto:hover .active {
	opacity: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #54535399;
	border-radius: 50%;
	font-size: 16px;
}

.team-item-name {
	text-align: center;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
}

/*info box*/

.bottom-img {
	display: flex;
}

.bottom-img img {
	position: absolute;
	bottom: 0px;
	width: 80%;
}

.info-box {
	margin-top: 80px;
	background-image: url(../img/info-box-back.png);
	width: 100%;
	background-repeat: no-repeat;
	color: #fff;
	background-size: cover;
}

.info-box h2{
	margin-top: 120px;
	padding-left: 15px;
	font-weight: 700;
}

.text-col {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 18px;
}

/*numbers*/

.number-item {
	margin: 70px 0;
	text-align: center;
}

.number-value {
	font-size: 6em;
	font-weight: 800;
	color: #000;
}

.number-text {
	text-transform: uppercase;
	color:#00C7E8;
	font-size: 22px;
	font-weight: 600;
}

/*footer*/

.main-footer {
	background-color: #313332;
	color: #fff;
	padding: 35px;
}

.title-footer {
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-weight: 600;
}

.title-footer:after {
	content: '';
	width: 100px;
	border: 2px solid #fff;
	height: 2px;
	margin-left: 30px;
}

.about-text p {
	line-height: 18px;
	margin-top: 20px;
}

.contacts {
	display: flex;
	margin-top: 20px;
}

.contacts span {
	width: 80px;
	display: inline-block;
	font-weight: 600;
}

.contact-text a {
	color: #fff;
}

.contact-text a:hover {
	color: #00C7E8;
}

.media-wrap {
	display: flex;
	margin-top: 20px;
}

.button-media {
	background-color: #00C7E8;
	width: 40px;
	height: 40px;
	color: #fff;
	margin: 0 5px;
	background-size: cover;
}

.button-media a {
	width: 100%;
	height: 100%;
}

.button-media img {
	width: 25px;
	height: 25px;
	margin: 7.5px;
}

.bottom-footer{
	background-color: #252726;
	color:#fff;
	text-align: center;
	padding: 25px;
}

/*toggle button*/

.toggle-mnu {
	display: block;
	width: 28px;
	height: 28px;
	margin-top: 14px;
	position: absolute;
	top: 0;
	right: 15px;
	z-index: 2;
}
.toggle-mnu span:after, .toggle-mnu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
}
.toggle-mnu span:after {
	top: 18px;
}
.toggle-mnu span {
	position: relative;
	display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
	width: 100%;
	height: 2px;
	background-color: #fff;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}
.toggle-mnu.on span {
	background-color: transparent;
}
.toggle-mnu.on span:before {
	transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-mnu.on span:after {
	transform: rotate(-45deg) translate(6px, -7px);
}

/*mobile menu*/

.hidden-menu {
	display: none;
	padding-top: 42px;
	text-align: center;
}

.hidden-menu li {
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
